# Dependencies
node_modules/
.pnpm-store/

# Build output
.next/
.expo/
dist/
build/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Turbo
.turbo/

# Prisma
apps/backend/prisma/*.db
apps/backend/prisma/*.db-journal

# Expo
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Native
ios/Pods/
android/.gradle/
android/build/

.vercel
